
#myDiv{
    background: rgba(255, 255, 255, 0.94);
    height: 100%;
    width: 100%;
    display: table-cell;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
    z-index: 999;
}

#loading-image{
    display: block;
    position: fixed;
    margin-LEFT: auto;
    MARGIN-TOP: 50%;
    margin-top: 19%;
    margin-right: auto;
    position: relative;
}



.material-icons
{
    font-size: 30px;
    background-color: yellow;
    border-radius: 15px;
}

* {
    box-sizing: border-box;
}

img {
  border-radius: 50%;
  border: 3px solid #ff9547;
}

.userName{
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  
}

 .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 2px 2px 1px 6px rgba(0, 0, 0, 0.18);
    background: rgb(217, 237, 247);
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}


.price li {
    border-bottom: 2px solid #d9edf7;
    padding: 20px;
    padding-bottom:22px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* review css */


.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color: rgba(33, 150, 243, 0.11);
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:15px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.reviewHeader{
    
    background: #4949bf; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(231, 234, 241),#4949bf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(231, 234, 241),#4949bf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(231, 234, 241),#4949bf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(231, 234, 241),#4949bf);
    color: white;
}

.reviewBody{
    overflow: scroll !important;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.09);
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}




 
