
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data- target="#myNavbar">
        <span class="icon-bar"></span>
                         
      </button>
      <a class="navbar-brand">Start</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button (click)="onRegister(x)"> <span class="glyphicon glyphicon-edit"></span> Register</button> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
 <div class="col-xs-12 col-sm-5 col-md-3">
   <div class="table-responsive">
      <table class="table table-bordered">
        <thead style="color:rgb(2, 3, 4);background: rgba(226, 224, 251, 0.74)">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Car Number</th>
            <th>Car Name</th>
            <th>Address One</th>
            <th>Address 2</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody style="background:rgba(121, 120, 119, 0.84);color: white">
          <tr *ngFor="let x of people" (click)="onClickMe(x)">
            <td> {{ x.DRVFNAME}}</td>
            <td>{{ x.DRVLNAME}}</td>
            <td> {{ x.DRVAGE}}</td>
            <td>{{ x.CARNUM}}</td>
            <td>{{ x.CARNAME}}</td>
            <td> {{ x.ADDRS1}}</td>
            <td> {{ x.ADDRS2}}</td>
            <td> {{ x.CITY}}</td>
            <td> {{ x.ZIPCODE}}</td>
            <td> {{ x.COUNTRY}}</td>
            <td>{{ x.PHNO}}</td>

          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
