<div class="container">
<div class="row rborder jumbotron">
    <form name="frmRegister" novalidate>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding" style="padding-top: 2px;">
        <div class="form-group">
            <label class="col-md-4 control-label" for="fn">First name</label>
            <div class="col-md-4">
                <input type="text" placeholder="first name" [(ngModel)]="driverDetails.DRVFNAME" [ngModelOptions]="{standalone: true}" class="form-control input-md" required>
            </div>

<!--             <span class="rmessage" [hidden]="!frmRegister.fn.$valid">First Name is required</span> -->

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <div class="form-group">
            <label class="col-md-4 control-label" for="ln">Last name</label>
            <div class="col-md-4">
                <input  type="text" placeholder="last name" [(ngModel)]="driverDetails.DRVLNAME"  [ngModelOptions]="{standalone: true}"
                       class="form-control input-md" required>

            </div>
        </div>
    </div>

        <!--Age-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
            <div class="form-group">
                <label class="col-md-4 control-label" >Age</label>
                <div class="col-md-4">
                    <input  type="text" placeholder="Age" [(ngModel)]="driverDetails.DRVAGE"   [ngModelOptions]="{standalone: true}"
                           class="form-control input-md" required>
                </div>
<!--                 <span class="rmessage" [hidden]="!frmRegister.dage.$valid">Age is required</span> -->

            </div>
        </div>
    <!--car number-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <div class="form-group">
            <label class="col-md-4 control-label">Car Number</label>

            <div class="col-md-4">
                <input  type="text" placeholder="Car Number" [(ngModel)]="driverDetails.CARNUM"    [ngModelOptions]="{standalone: true}"
                       class=" form-control input-md"  required>
            </div>
<!--             <span class="rmessage" [hidden]="!frmRegister.carno.$valid">Car Number is required</span> -->

        </div>
    </div>

    <!--Car Name-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <div class="form-group">
            <label class="col-md-4 control-label" >Car Name</label>
            <div class="col-md-4">
                <input  type="text" placeholder="Car Name" [(ngModel)]="driverDetails.CARNAME"  [ngModelOptions]="{standalone: true}"
                       class="form-control input-md" required>

         </div>
            <div>
<!--             <div class="rmessage" [hidden]="!frmRegister.carname.$valid">Car Name is required</div> -->
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <!-- aDRESS-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="add1">Address 1</label>
            <div class="col-md-4">
                <input  type="text" placeholder="" class="form-control input-md" [(ngModel)]="driverDetails.ADDRS1"  [ngModelOptions]="{standalone: true}"
                       required>


            </div>
<!--             <div class="rmessage" [hidden]="!frmRegister.add1.$valid">Adress is required</div> -->
        </div>
    </div>
        <!-- aDRESS2 input-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">

        <div class="form-group">
            <label class="col-md-4 control-label" for="add2">Address 2</label>
            <div class="col-md-4">
                <input id="add2" name="add2" type="text" placeholder=""  [(ngModel)]="driverDetails.ADDRS2" class="form-control input-md">

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">City</label>
            <div class="col-md-4">
                <input  type="text" placeholder="city" [(ngModel)]="driverDetails.CITY"  [ngModelOptions]="{standalone: true}"
                       class="form-control input-md" required="">
             </div>
<!--             <span class="rmessage" [hidden]="!frmRegister.city.$valid">City is required</span> -->
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="zip">Zip Code</label>
            <div class="col-md-4">
                <input id="zip" name="zip" type="text" placeholder="Zip Code" [(ngModel)]="driverDetails.ZIPCODE"  [ngModelOptions]="{standalone: true}"
                       class="form-control input-md" required="">

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ctry">Country</label>
            <div class="col-md-4">
                <input id="ctry" name="ctry" type="text" placeholder="Country" class="form-control input-md"  [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="driverDetails.COUNTRY" required>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Text InputPhone</label>
            <div class="col-md-4">
                <input id="phone" name="phone" type="text" placeholder="Phone#" class="form-control input-md"
                       [(ngModel)]="driverDetails.PHNO"  [ngModelOptions]="{standalone: true}" required>
            </div>
<!--             <span class="rmessage" [hidden]="!frmRegister.phone.$valid">Phone is required</span> -->
        </div>
    </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Upload Image</label>
                <div class="col-md-5" style="display:inline-block;">
                  <input type="file" class="fileUpload" style="display:inline;" (change)="uploadImage($event)" 
                    name="file" ngf-accept="'image/*'" required="">
                </div>

            </div>
        </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rpadding">
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit"  class="btn btn-primary" (click)="saveDetails($event)">Save</button>
                <button id="cancel" name="cancel" class="btn" (click)="cancel($event)">Cancel</button>
            </div>

        </div>
    </div>
    </form>
</div>
</div>
